@page "/"

@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Reddit Clone</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User?.Identity?.Name</h3>
    </Authorized>
    <NotAuthorized>
        Here you can browse interesting posts, but You are not logged in! lol
        <button @onclick="NavigateToLogin">Go to Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    void NavigateToLogin()
    {
        NavMgr.NavigateTo("login");
    }
}
